* {
  box-sizing: border-box;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 408px;
  padding: 24px;
}
.feedback-form label {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}
.feedback-form label input,
textarea {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.feedback-form label input {
  height: 40px;
}
.feedback-form label textarea {
  height: 80px;
}
.feedback-form button {
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.feedback-form button:hover {
  background-color: #6c8cff;
}
